<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if not geo %}
    <script src="/static/geolocation.js" defer></script>
    {% endif %}

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="https:{{ condition['icon'] }}">
    <title>{{ condition['text'] }}</title>
    
</head>
<body>
    <video id="background-video" autoplay loop muted>
    <source src="{{ video }}" type="video/mp4">
    </video>
</body>
</html>